cinema_booking/media/profile_pics
cinema_booking/media/uploads
cinema_booking/media/thumbnail
*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
media/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py