{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="media content-section pt-5">
    <div class="media-body">
        <div class="article-metadata">
            <a href="{% url 'blog:post-detail' post.slug %}" class="article-title">{{ forloop.counter }}.
                {{ post.title }}</a>
            <br />
            <p>
                By
                <a href="{% url 'users:user-profile-detail' post.author.userprofile.slug %}" class="mr-2 article-author"><b>{{ post.author.username }}</b></a>
                <span>Published on {{ post.created_at|date:"D d M Y"  }}</span>
            </p>
        </div>
    </div>
</article>
{% endfor %} {% endblock content %}