<nav class="navbar navbar-expand-xl navbar-light bg-navbar-red px-5">
    <a class="navbar-brand navbar-brand-font" href="{% url 'blog:blog-home' %}">CinemaRant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-xl-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:blog-home' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:post-category' 'movies' %}">MOVIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:post-category' 'tv-shows' %}">TV SHOWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:post-category' 'theatre' %}">THEATRE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:post-category' 'fandom' %}">FANDOM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-font" href="{% url 'blog:post-category' 'web-series' %}">WEB SERIES</a>
            </li>
        </ul>
        <form class="form-inline my-2" method="GET" action="{% url 'blog:search' %}" value="{{request.GET.post_title}}">
            <input name="post_title" class="form-control mr-sm-2" type="search" placeholder="Search posts"
                aria-label="Search">
            <button class="btn btn-style my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>