{% extends 'blog/base.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="go-back" href="#" onclick="location.href = document.referrer; return false;">&#8617; Back</a>
            <br><br>
            <h2 class="article-detail-title">{{ post.title }}</h2>
            <div class="share-buttons post-details">
                <div>
                    By&nbsp;<a href="{% url 'users:user-profile-detail' post.author.userprofile.slug %}"
                        class="article-author"><b>{{ post.author.username }}</b></a>
                </div>
                <div>
                    Published on {{ post.updated_at|date:"d M Y"  }}
                </div>
            </div>
            <p>{{ post.content|safe }}<p>
        </div>
    </div>
</article>
<h4>Share on social media</h4>
<div class="row share-buttons" style="display: flex;">
    <div class="share-twitter mr-3" style="margin-top: 2px;">
        <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/">Tweet</a>
    </div>
    <div class="fb-share-button" data-href="http://localhost:8000/post/{{ post.slug }}/" data-layout="button"
        data-size="large">
        <a target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8000%2Fpost%2F{{ post.slug }}%2F&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">Share</a>
    </div>
</div>
<h4 class="comment-heading pt-5"><b><u>Comments</u></b></h4>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = document.URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = document.getElementById('post-slug').textContent; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://cinema-booking.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

    // setting up twitter share button
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
{% endblock content %}