body {
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  top: 0;
  left: 0;
  word-spacing: 1.2px;
  line-height: 30px;
}

.pd-reset {
  padding-left: 0px;
  padding-right: 0px;
}

/* .navbar-brand-font {
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  color: white !important;
}

.nav-item-font {
  text-decoration: none !important;
  font-weight: 700;
  font-size: 17px !important;
  color: white !important;
}

.bg-red {
  background-color: #fd0054;
} */

.bg-navbar-red {
  background-color: #fd0054;
}

.navbar-brand-font {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  color: #fbf9fa !important;
}

.nav-link-font {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: #fbf9fa !important;
  font-weight: 700;
}

.nav-link-font:hover {
  color: #dedede !important;
}

.btn-style {
  color: #fbf9fa;
  background-color: #d61d4e;
}

.btn-style:hover,
.btn-style:active {
  color: #dedede;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.nav-box-shadow {
  -webkit-box-shadow: 8px 8px 7px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 7px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -10px rgba(0, 0, 0, 0.75);
}

.content {
  min-height: 80vh;
}

.article-title {
  font-weight: 700;
  font-size: 24px;
  color: #2b2024;
}

.article-title:hover,
.article-title:active {
  color: #2b2024;
}

.article-author {
  font-weight: 400;
}

.article-number {
  font-size: 20px;
}

.footer {
  width: 100%;
  height: 65px;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 52px;
  color: #f7f7f7;
}

.article-detail-title {
  font-weight: 900 !important;
  text-decoration: underline;
}

a.go-back {
  text-decoration: none !important;
  color: black !important;
}

a.go-back:hover,
a.go-back:active {
  text-decoration: underline !important;
}

li {
  font-size: 20px !important;
}

.comment-create-date {
  font-weight: 400;
  font-size: 16px;
}

.comment-content {
  font-size: 16px;
  font-weight: 400 !important;
}

.comment-author {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 400 !important;
}

.blog-image {
  margin-left: 100px;
}

.error-title {
  font-weight: 700 !important;
  font-size: 100px !important;
}

.footer-item {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  left: 0;
}

.footer-item-link {
  padding-left: 3rem;
  cursor: pointer;
}

.footer-copyright-block {
  display: flex;
  justify-content: center;
}

.footer-coyright-text {
  font-size: 1rem;
}

.bg-footer {
  background-color: #222831;
}

.color-white {
  color: white;
}

.connect__icons {
  font-size: 25px;
}

.connect__icons-google {
  color: #e84545;
}

.connect__icons-twitter {
  color: #38a1f3;
}

.connect__icons-facebook {
  color: #4667a6;
}

.connect__icons-instagram {
  color: #3f729b;
}

.connect__icon-box {
  display: block;
  text-align: center;
}

a.disable-hyperlink:link,
a.disable-hyperlink:visited {
  text-decoration: inherit;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
}

.share-buttons {
  display: flex !important;
}